@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
    --bg-white: #ffffff;
    --primary-bg-color: #f7f7f7;
    --secondary-bg-color: #ececec;
    --card-bg-color: #fafafa;

    --primary-color: #333333;
    --secondary-color: #8b0000;
    --accent-color: #c9a96e;

    --text-color: #1a1a1a;
    --text-light: #4d4d4d;
    --text-muted: #7a7a7a;

    --border-color: #d6d6d6;
    --divider-color: #cccccc;

    --shadow-color: rgba(0, 0, 0, 0.1);
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;

}


/* Account Icon styling */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}


/* Heading, title, para Styling Start */

.main-heading {
    font-size: 3.2rem;
    font-weight: bolder;
}

.sub-heading {
    font-size: 2.8rem;
    font-weight: 700;
}

.heading {
    font-size: 2.4rem;
    font-weight: 600;
}

.main-title {
    font-size: 2rem;
    font-weight: 500;
}

.sub-title {
    font-weight: 1.8rem;
    font-weight: 500;
}

.title {
    font-size: 1.6rem;
    font-weight: 500
}

.main-para {
    font-size: 1.4rem;
    font-weight: 400;
}

.sub-para {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Heading, title, para Styling End */


/* Display Flex Styling Start */
.d-flex {
    display: flex;
}

.flex-cols {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}


.item-center {
    align-items: center;
}

.gap-xy-1 {
    gap: 1rem;
} 

.gap-xy-2 {
    gap: 2rem;
}

.gap-xy-4 {
    gap: 4rem;
.item-center {
    align-items: center;
}
.content-center{
    justify-content: center;
}
.content-around{
    justify-content: space-around;
}
/* Display Flex Styling End */


/* Border, border-radius Styling Start */ 
.radius-xy-1 {
    border-radius: 1rem;
}

/* Border, border-radius Styling End */ 

/* Marin and Padding Section Start */
.mt-half {
    margin-top: .5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-1-half {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 2rem;
}
/* Marin and Padding Section End */


/* Home Section Styling Start */
.home-container .home-content {
    width: 100%;
}

.home-content .home-left-content {
    width: 100%;
    background-color: var(--border-color);
    padding: 2rem;
}

.home-left-content img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    object-position: center;
}

/* Home right side content start */
.home-right-content {
    width: 70rem;
    background-color: var(--border-color);
    padding: 2rem;
}

.home-right-content .popular-today-content {
    height: auto;
    background-color: var(--card-bg-color);
    padding: 2rem;
    border-radius: 1rem;
}

.today-image-content img {
    width: 20rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.today-description-content {
    width: 100%;
}

.today-description-content .today-title:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
/* Home right side content End */


/* Home Section Styling End */



/* Responsive Layout for All Devices */
    
/* Position styling  */
.p-relative{
position: relative;
}
.p-absolute{ 
position: absolute;
}
/* Navbar Starts */

.section_specifier{
  width:100%;
    border-top:0.4rem solid black;
    border-bottom:0.4rem solid black;
}
nav{
    width: 100%;
    padding:1.2rem;
}
.navLinks{
    width: 60%;
}
.navLinks ul {
   list-style: none;
  
}
.navLinks ul li> a{
     padding-left:2rem;
   text-decoration: none;
   color:black;
   font-size: 2rem;
}

#search_menu{
    gap:1.5rem;
    width:30%;
}
.search_news{
   right:5%;
   top:18%;
   font-size:1.3rem;

}
#search_box> input{
    border-radius: 0.9rem;
    width:60%;
    padding:0.5rem;
}
#mobile_only{
    display: none ;
}
#search_box{
    width:60%;
}
 #search_box >input{
    width: 100%;
    padding:0.7rem 1.2rem;
    font-weight: bolder;
}
#search_menu #search_box > input::placeholder{
  
    font-weight: bold;
    color:black;
}

/* size of icons */
.acc_icon{
    font-size: 3.4rem  !important;
}
/* Category Section Styling Start */
.category-container .category-content {
    background-color: teal;
    color: white;
}


/* Category Section Styling End */








/* Responsive Layout */

@media only screen and (max-width:992px) {

    .container{
           
           padding:0;
    }
    nav{
        flex-direction: row-reverse;
        justify-content: space-between !important;
        position: relative;
        padding:0rem !important;
        align-items: start  !important;
    }
    .navLinks{ 
        height: 100vh;
        width:40%;
        background-color: whitesmoke;
    }
    .navLinks ul {
        flex-direction: column;
    }
    #mobile_only{
        display: block;
    }      

}
