@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --hero-bg-color: #3e171c;

}

/* Code Reusablility */

.container {
    width: 144rem;
    margin: 0 auto;
}

p, li, a {
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}

/* font-size */

.heading {
    font-size: 2.4rem;
    font-weight: 700;
}

.sub-heading {
    font-size: 2rem;
}

/* Font Weight */

.semi-bold {
    font-weight: 400;
}

.normal {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 700;
}

/* Layout */

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.gap-sm {
    gap: 1rem;
}

.gap-l {
    gap: 1.5rem;
}

.gap-xl {
    gap: 2rem;
}

.gap-2xl {
    gap: 2.5;
}

.gap-3xl {
    gap: 3rem;
}


/* Navbar Section */

.nav-content {
    width: 100%;
    padding: 1rem 3rem;
    position: fixed;
    top: 20px;
}


.nav-content a {
    font-size: 2.8rem;
    font-weight: 700;
    color: #fff;
}

.hero-section {
    background-color: #3e171c;
}

.hero-content {
    width: 100%;
    height: 100vh;
}

.hero-content-right img {
    width: 70%;
}